button{

    background-color: black;
    position: absolute;
    top: 100px;
    left: 100px;
    transition: all 1s ease-in;
    color: white;
}

button:hover{


    transform: translateX(10000px);
}
button :active{

    background-color: blue;
}

#loader{
position: fixed;
right: 50px;
top: 500px;

border: 10px solid black;
height: 100px;
width: 100px;

border-radius: 50%;
border-top: red;

animation: spin 4s ease-in 1ms infinite normal ;
}
@keyframes spin {
    from{

        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}